@import url('https://rsms.me/inter/inter.css');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Inter', Roboto, -apple-system, BlinkMacSystemFont,
    'PingFang SC', 'Microsoft YaHei', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.colorful-bg {
  border-radius: 5px;

  background-image: linear-gradient(
    91.75deg,
    #7de2ac 0%,
    #389dfa 49.26%,
    #9f50ff 97.76%
  );
  background-origin: border-box;
}
* {
  box-sizing: border-box;
}
